@mixin home-transparency {
  opacity: 0.8;
  background-color: $naranjo-arde;
}
.hero-container {
  background-size: cover;
}
.bg-arde {
}
.navbar-only-in-home {
  @include home-transparency

}
.nav-link {
  color: $blanco !important;
  &:hover {
    color: $blanco_transparente !important;
  }
}
.bg-minisitio {
    background-color: $gris-arde;
}
@mixin tamano-landing {
    min-height: 500px;

}

a {
  color: $gris-arde;
  &:hover {
    color: $gris-oscuro-arde;
  }
}
.landing-arde {
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tamano-landing;
}
.hero_img {
    margin-top: 7em;
}
.titulo {
    text-decoration: underline;
    margin: 30px;
}

.landing-arde-overlay {
    @include home-transparency
    width: 100%;
    position: absolute;
    @include tamano-landing;
}
body {
  font-family: "GT America Mono";
}
.social-link {
  color: $negro;
}
.titulo-colecciones-home {
  margin: 40px 0;
  font-size: 2em;
}
.lista-colecciones {
  margin: 40px 0;
}
