@mixin home-transparency {
  opacity: 0.8;
  background-color: $naranjo-arde;
}
.hero-container {
  background-size: cover;
}
.bg-arde {
}
.navbar-only-in-home {
  background-color: rgba(244,77,17,.8);
}
.navbar {
  padding: 1.5rem;
}
.nav-link {
  color: $blanco !important;
  &:hover {
    color: $blanco_transparente !important;
  }
}
.bg-minisitio {
    background-color: $gris-arde;
}
@mixin tamano-landing {
    min-height: 500px;
}

a {
  color: $gris-arde;
  &:hover {
    color: $gris-oscuro-arde;
  }
}
.landing-arde {
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tamano-landing;
}
.hero_img {
    margin-top: 7em;
    .text {
      margin-top: 60px;
      color: $blanco;
      &.text-landing{
        a {
          color: $blanco  !important;  
        }
      }
    }
}
.titulo {
    text-decoration: underline;
    margin: 30px;
    text-underline-position: under;
    text-underline-offset: 10px;
}

.landing-arde-overlay {
    @include home-transparency
    width: 100%;
    position: absolute;
    @include tamano-landing;
}
body {
  font: 16px/19.2px "GT America Mono", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.gt-america {
  font-family: "GT America";
}
.gt-america-mono {
  font-family: "GT America Mono";
}
.social-link {
  color: $negro;
}
.titulo-colecciones-home {
  margin: 40px 0;
  font-size: 1.625em;
  letter-spacing: 0.05em;
}
.lista-colecciones {
  margin: 40px 0;
}

.navbar-brand {
  margin-right:0;
}
