#wrapper-navbar {
  z-index:1;
  position: relative;
}

.p-0 {
  padding:0;
}

.gt-america {
  font-family: "GT America", "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
}

.gt-america-mono {
  font-family: "GT America Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@mixin home-transparency {
  opacity: 0.8;
  background-color: $naranjo-arde;
}
.hero-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-arde {
}
.navbar-only-in-home {
}
.navbar {
  padding: 2.5rem;
}
.nav-link {
  color: $blanco !important;
  &:hover {
    color: $blanco_transparente !important;
  }
}
.bg-minisitio {
    background-color: $gris-arde;
}
@mixin tamano-landing {
    min-height: 100vh;
}
a {
  color: $gris-oscuro-arde;
  &:hover {
    color: $gris-arde;
  }
}
.landing-arde {
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tamano-landing;
}
.hero_img {
    margin-top: 6em;
      @media all and (max-width: 480px) {
            margin-top: 2.5em;
      }
    .text {
      margin: 60px auto 0 auto;
      width: 550px;
      @media all and (max-width: 480px) {
        width:100%;
      }
      color: $blanco;
      &.text-landing{
        a {
          color: $blanco  !important;  
        }
      }
    }
}
.titulo {
    text-decoration: underline;
    margin: 30px;
    text-underline-position: under;
    text-underline-offset: 10px;
}

.titulo-encabezado-imagenes {
    text-decoration: underline;
    margin: 100px 0;
    text-underline-position: under;
    text-underline-offset: 10px;  
}

.landing-arde-overlay {
    @include home-transparency
    width: 100%;
    position: absolute;
    @include tamano-landing;
}
body {
  font: 16px/24px "GT America Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.social-link {
  color: $negro;
}
.titulo-colecciones-home {
  margin: 40px 0;
  font-size: 1.625em;
  letter-spacing: 0.05em;
}
.lista-colecciones {
  margin: 40px 0;
}

.navbar-brand {
  margin-right:0;
}

.fs-24 {
  font-size: 1.5em;
}

#mc_embed_signup form {
  text-align: left !important;
  padding: 0 !important;
}

#mc_embed_signup input.email {
  font-family: "GT America", "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border: 0 !important;
  width: 250px !important;
  height: 50px !important;
  padding: 0 1.2em !important;
  font-weight: bold !important;
      @media all and (max-width: 480px) {
            width: 100% !important;
      }
}

#mc_embed_signup .button {
  font-size: 15px !important;
  font-family: "GT America", "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  padding: 0 35px !important;
  font-weight: bold !important;
  height: 50px !important;
}

#mc_embed_signup {
      @media all and (max-width: 480px) {
            padding-bottom: 40px !important;
      }
}

.menu-mobile {
    @media all and (max-width: 768px) {
            position: absolute;
            height: 100vh;
            top: 0;
            width: 100vw;
            left: 0;
            z-index: 9999;
            font-size: 2em;
            line-height: 13vh;
            background-color: #463e3ede;
    }    
}

.navbar-toggler {
    border: 2px solid white !important;
    border-radius: 0!important;
}

.single-item img {
  cursor: pointer;
}

.slick-lightbox-slick-item-inner img {
  height: 90% !important;
}

.slick-lightbox-slick .slick-next:before, 
.slick-lightbox-slick .slick-prev:before {
  color: white !important;
}

.posteo {
  position:relative;
  top: -125px;
}

.landing-image-editorial {
  min-height: 560px;
}

.posteo:second-child {
  position:inherit;
  display:block;
}

.posteo article a {
  position: absolute !important;
  top: 0 !important;
  width: 87% !important;
  background-color: white !important;
  margin: 125px 6.5% 55px 6.5% !important;
  height: 380px !important;
  z-index: 1 !important;
}
