.bg-documento {
  max-height: 50px;
  background-color: $gris-oscuro-arde;
  img {
    max-height: 45px;
  }
}

.documento {
  color: $gris-oscuro-arde;
}

.description-doc {
  margin-top: 2.5em;
  .title {
      font-weight: 500;
  }

}
.doc-image {

}

.image-jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}
.meta-div {
  .meta-titulo {
    font-weight: 700 !important;
    margin-bottom: 2px;
  }
}
.compartir-text {
  text-orientation: upright;
  writing-mode: sideways-lr;
  color: $gris-arde;
}

.breadcrumb-item a {
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 7px 15px;
  color: #808080;
  font-family: "GT America", "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
  text-transform: capitalize;
}

.breadcrumb-item .active {
  border: 0 !important;
  font-family: "GT America", "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
}