.bg-documento {
  max-height: 50px;
  background-color: $gris-oscuro-arde;
  img {
    max-height: 45px;
  }
}

.documento {
  color: $gris-oscuro-arde;
}

.document-image-colecciones {
  min-height:300px;
  margin:0;
  background-size: cover;
  background-color: #f44d11;
}

.description-doc {
  margin-top: 2.5em;
  .title {
      font-weight: 500;
  }

}

.texto-listado-colecciones {
    position: absolute;
    color: white;
    width: 100%;
    top: 145px;
}

.boton-listado-colecciones {
    position: absolute;
    color: white;
    width: 100%;
    top: 240px;
}

.doc-image {

}

.image-jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}
.meta-div {
  .meta-titulo {
    font-weight: 700 !important;
    margin-bottom: 2px;
  }
}
.compartir-text {
  text-orientation: upright;
  writing-mode: sideways-lr;
  color: $gris-arde;
}

.breadcrumb-item a,
.ir-a-seccion a {
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 7px 15px;
  color: #808080;
  text-transform: capitalize;
}


.breadcrumb-item .active {
  border: 0 !important;
}

/* ===============
    Slick Slider
   =============== */

    .single-item {
      position:relative;
      height: auto;
    }
  
    .wp-block-image {
      background-color: #eaeaea;
      @media all and (max-width: 480px) {
            height: auto;
            background-color: white;
      }
    }

    .slick-initialized { 
      visibility: visible !important;
    }

    .slider {
      width: 100%;
      position:relative;
    }

    .slick-slide img {
      display:block;
      height: 450px;
      margin: auto;
      @media all and (max-width: 480px) {
            height: auto;
      }
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

/* ===============
    VideoWrapper
   =============== */

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }
    .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }