.footer-arde {
  background-color: $gris-oscuro-arde;
  a {
    color: $blanco;
  }
  .nav-link {
    padding: .5em 0rem;
  }
  ul .nav-link {
    padding: 0;
  }
}

.description-doc .title {
	font-weight: 700;
}
