.minisitio-card-title {
  color: $negro;
}
.minisitio-title{
  margin-top: 10%;
  color: $blanco;
  text-decoration: underline;
  font-size: 28pt;
}
.bg-minisitio-con-imagen{
  min-height: 500px;
}
.logo-minisitio {
  max-height: 35px;
}
.documentos-minisitio {
  margin-top: 60px;
}
.document-image {
  min-height: 190px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-color: $naranjo-arde;
  .card{
  }
}
