// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #5533ff; // Thats a sample how you could change a BootStrap variable.
$breadcrumb-divider: quote(">");
$breadcrumb-padding-x: 0;
$gtmerica: "GTAmerica","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif !important;
$gtmerica-mono: "GT America Mono","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif !important;